# Tested target environment: Python 3.11

# UI and computer vision
pygame==2.6.1
opencv-python==4.10.0.84
mediapipe==0.10.14

# Deep learning and modeling
tensorflow==2.16.1
scikit-learn==1.4.2

# Numerical computing and analysis
numpy==1.26.4
pandas==2.2.2
scipy==1.13.0
fastdtw==0.3.4

# Visualization
matplotlib==3.9.2
seaborn==0.13.2
